<table class="table">

  <tbody>
    <tr>
      <td>Name of Institution</td>
      <td>{{user.nameofinstitution}}</td>
      <td>{{input type="text"  class="form-control" value=user.nameofinstitution}}</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{user.location}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{user.address}}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>{{user.contactno}}</td>
    </tr>
    <tr>
      <td>Installation Date</td>
      <td>{{moment-format user.installationdate 'DD-MM-YYYY'}}</td>
    </tr>
    <tr>
      <td>Installation Date</td>
      <td>{{moment-format user.installationdate 'DD-MM-YYYY'}}</td>
    </tr>
    <tr>
      <td>New Password</td>
      <td>{{input type="password"  class="form-control" value=password}}</td>
    </tr>
    <tr>
      <td>Confirm password</td>
      <td>{{input type="password" class="form-control" value=password_confirmation}}</td>
    </tr>
<button {{action "saveUser" user}}class="btn btn-default"> Save User</button>
  </tbody>
</table>
