<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
    <ul class="nav ">
      <li class="active">
        {{#link-to 'dashboard'}}Toller App{{/link-to}}
      </li>
      <li class="dropdown pull-right">
      {{#bs-dropdown tagName="span" as |dd|}}

    {{#dd.toggle}}{{userEmail}}<span class="caret"></span>{{/dd.toggle}}
    {{#dd.menu as |menu|}}

        {{#menu.item}}
            <a {{action "logout"}}>Logout</a>
        {{/menu.item}}
    {{/dd.menu}}
{{/bs-dropdown}}
</li>
    </ul>
  </div>





    <!-- Start of Local Admin -->
    {{#if isLocal}}
    <div class="row">

      	<div class="row">
      		<div class="col-md-12">
      			<div class="row">
      				<div class="col-md-2">
                {{#link-to 'dashboard'}}
                <button type="button" class="btn btn-block btn-sm btn-default">
                  Dashboard
                </button>
                {{/link-to}}
                {{#link-to 'dashboard.local.profile'}}
      					<button type="button" class="btn btn-block btn-sm btn-default">
      						Profile
      					</button>
                {{/link-to}}
                {{#link-to 'dashboard.local.configuration'}}
                <button type="button" class="btn btn-block btn-sm btn-default">
      						Configuration
      					</button>
                {{/link-to}}
                <button type="button" class="btn btn-block btn-sm btn-default">
      						Log
      					</button>
                {{#link-to 'dashboard.local.tickets.index'}}
                <button type="button" class="btn btn-block btn-sm btn-default">
      						Tickets
      					</button>
                {{/link-to}}

      				</div>
      				<div class="col-md-8">
                <h3>Welcome Local Admin</h3>
                {{outlet}}
      				</div>
      				<div class="col-md-2">
                {{#link-to 'dashboard.local.schedulesets.index'}}
                <button type="button" class="btn btn-block btn-sm btn-default">
      						Schedule Set
      					</button>
                {{/link-to}}
                <button type="button" class="btn btn-block btn-sm btn-default">
      						Quick Announcement
      					</button>
                {{#link-to 'dashboard.local.mediamanager'}}
                <button type="button" class="btn btn-block btn-sm btn-default">
      						Media
      					</button>
                {{/link-to}}
                <button type="button" class="btn btn-block btn-sm btn-default">
      						Payment
      					</button>
      				</div>
      			</div>
      		</div>
      	</div>
    </div>
    {{/if}}
   <!-- End of Local Admin -->



   <!-- Start of Group Admin -->
  {{#if isGroup}}
  <div class="row">

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">

              <button type="button" class="btn btn-block btn-sm btn-default">
                Dashboard
              </button>
              {{#link-to 'dashboard.group.users.index'}}
              <button type="button" class="btn btn-block btn-sm btn-default">
                Users
              </button>
              {{/link-to}}


            </div>
            <div class="col-md-8">
              <h3>Welcome Group Admin</h3>
              {{outlet}}
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-block btn-sm btn-default">
                Schedule
              </button>
              <button type="button" class="btn btn-block btn-sm btn-default">
                Quick Announcement
              </button>
              <button type="button" class="btn btn-block btn-sm btn-default">
                Media
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>
  {{/if}}
   <!-- End of Group Admin -->




    <!-- Start of Super Admin -->
   {{#if isSuper}}
   <div class="row">

       <div class="row">
         <div class="col-md-12">
           <div class="row">
             <div class="col-md-2">

               <button type="button" class="btn btn-block btn-sm btn-default">
                 Dashboard
               </button>
               {{#link-to 'dashboard.super.users.index'}}
               <button type="button" class="btn btn-block btn-sm btn-default">
                 Users
               </button>
               {{/link-to}}
             </div>
             <div class="col-md-8">
               <h3>Welcome Super Admin</h3>
               {{outlet}}
             </div>
             <div class="col-md-2">
               <button type="button" class="btn btn-block btn-sm btn-default">
                 Dummy Schedule
               </button>
               {{#link-to 'dashboard.super.tickets.index'}}
               <button type="button" class="btn btn-block btn-sm btn-default">
                 Tickets
               </button>
               {{/link-to}}
               {{#link-to 'dashboard.super.settings.index'}}
               <button type="button" class="btn btn-block btn-sm btn-default">
                 Settings
               </button>
               {{/link-to}}
             </div>
           </div>
         </div>
       </div>
   </div>
   {{/if}}
    <!-- End of Super Admin -->




</div>
</div>
